{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1 style="display: flex; align-items: flex-end; gap: 12px;">
            <span>{{ .Title | markdownify }}</span>
            <img src="/dev0.gif" alt="dev0" style="height: 1.5em; width: auto; object-fit: contain;">
        </h1>
    </header>
    <div class="entry-content md-content">
        {{ $opts := dict "display" "block" }}
        {{ .Content | $.Page.RenderString $opts }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}